*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.history-container{
    width: 30%;
    /* background-color: rgb(119, 87, 217); */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: none;
    padding-top: 1rem;
}

.history-container h2{
    color: white;
}

.history-item{
    border: 1px solid white;
    background-color: rgba(196, 155, 155, 0.5);
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.history-item:hover{
    background-color: rgba(70, 51, 51, 0.5);
}

.chat-container{
    width: 70%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    /* overflow: auto; */
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#query-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    color: rgb(168, 133, 133);
    cursor: pointer;
}

#query-icon:hover{
    color: rgb(94, 93, 93);
}

.chat-messages{
    overflow: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.chat-messages {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Optionally hide scrollbar for IE and Edge */
.chat-messages {
    -ms-overflow-style: none;
}

.primary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.primary img{
    height: 10rem;
}

.menu{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.menu-element{
    height: fit-content;
    padding: 1rem;
    border: 1px solid #c6c4c4;
    border-radius: 1rem;
    font-size: small;
    color: rgb(52, 52, 52);
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu div:hover{
    background-color: rgba(138, 136, 136, 0.5);
    color: white;   
}

.menu div:hover p{
    color: white;
}

.menu div h4{
    margin-bottom: 0.4rem;
}

.menu div p{
    color: rgb(67, 66, 66);
}

.response-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.response-container img{
    height: 2rem;
}

.query-container{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    align-self: flex-end;
}

.query-container img{
    height: 2rem;
}

.query{
    text-align: right;
    display: inline-block;
    align-self: flex-end;
    background-color: rgb(97, 13, 233);
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}

.response{
    text-align: left;
    display: inline-block;
    align-self: flex-start;
    background-color: #c6c4c4;
    color: rgb(41, 41, 41);
    padding: 1rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    max-width: 40rem;
}

.title{
    position: fixed;
    top: 20px;
    color: rgb(168, 133, 133);
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loading{
    text-align: left;
    display: none;
    align-self: flex-start;
    order: 1;
    font-weight: bolder;
    color: rgb(41, 41, 41);
    flex-direction: row;
    gap: 0.5rem;
    font-family: "Varela Round", sans-serif;
}

.loading p{
    background-color: #c6c4c4;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.loading img{
    height: 2rem;
}

#errorMessage{
    text-align: left;
    display: none;
    align-self: flex-start;
    background-color: #f2eeee;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: rgb(156, 143, 185);   
    margin-bottom: 2rem;
}

.chat-input{
    background-color: white;
    border: 1px solid rgb(191, 185, 185);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    align-self: flex-start;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-input input{
    border: none;
    line-height: 2rem;
    width: 90%;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    margin: 0;
    outline: none;
    font-size: large;
}

.chat-input button{
    height: 100%;
    width: 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}


.chat-input button:hover{
    color: rgb(63, 63, 63);
}