*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.history-container{
    width: 30%;
    background-color: rgb(119, 87, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: none;
    padding-top: 1rem;
}

.history-item{
    border: 1px solid white;
    background-color: rgba(196, 155, 155, 0.5);
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 90%;
}

.history-item:hover{
    background-color: rgba(70, 51, 51, 0.5);
}

.chat-container{
    width: 70%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    /* overflow: auto; */
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.chat-messages{
    overflow: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.chat-messages {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Optionally hide scrollbar for IE and Edge */
.chat-messages {
    -ms-overflow-style: none;
}

.response-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.response-container img{
    height: 2rem;
}

.query-container{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    align-self: flex-end;
}

.query-container img{
    height: 2rem;
}

.query{
    text-align: right;
    display: inline-block;
    align-self: flex-end;
    background-color: rgb(97, 13, 233);
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}

.response{
    text-align: left;
    display: inline-block;
    align-self: flex-start;
    background-color: #c6c4c4;
    color: rgb(41, 41, 41);
    padding: 1rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    width: 40rem;
}

.title{
    position: fixed;
    top: 20px;
    color: rgb(168, 133, 133);
}

.nightmode{
    position: fixed;
    top: 10px;
    right: 10px;
}

.nightmode i{
    font-size: 2rem;
}

.loading{
    text-align: left;
    display: none;
    align-self: flex-start;
    order: 1;
    font-weight: 800;
    color: rgb(41, 41, 41);
    flex-direction: row;
    gap: 0.5rem;
}

.loading p{
    background-color: #c6c4c4;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.loading img{
    height: 2rem;
}

#errorMessage{
    text-align: left;
    display: none;
    align-self: flex-start;
    background-color: #f2eeee;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: rgb(156, 143, 185);   
    margin-bottom: 2rem;
}

.chat-input{
    background-color: white;
    border: 1px solid rgb(191, 185, 185);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 98%;
    margin-bottom: 1rem;
    padding: 0;
    align-self: flex-start;
}

.chat-input input{
    border: none;
    line-height: 2rem;
    width: 90%;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    margin: 0;
    outline: none;
    font-size: large;
}

.chat-input button{
    height: 100%;
    width: 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}


.chat-input button:hover{
    color: rgb(63, 63, 63);
}